* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Montserrat';
  background: #f5f7fa;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  /* padding-right: 20px;
  padding-left: 20px; */
}
.wrapper {
  background: #f5f7fa;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  /* box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15); */
}
.sidebar {
  background: #1e2939;
  width: 350px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my_photo {
  width: 350px;
  height: 439px;
}
.my_cont {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contact {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contact_tel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffff;
  margin-bottom: 20px;
}
.contact_link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffff;
}

.contact_tel_stil {
  margin-right: 10px;
  color: #ffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.skills_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffff;
}
.skills {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.skills_item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff0808;
  margin-left: 20px;
}
.skills_text {
  color: #ffff;
}
.my_cont {
  padding-left: 100px;
  padding-top: 100px;
}
.intro {
  margin-bottom: 25px;
}
.front {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  /* margin-bottom: 25px; */
}
.pib {
  font-size: 40px;
  font-weight: 700;
  line-height: 89px;
}
.intro_abaut_my {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: auto;
}
.projects {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.link {
  color: #2b2828;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dot {
  color: #2b2828;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.link:hover {
  color: #ff6b08ed;
}
.link_name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bots {
  color: #b3b3b3;
  font-weight: 100;
}
.projects_font {
  font-weight: 700;
  margin-left: 17px;
  margin-bottom: 5px;
}
.progect_botton {
  margin-bottom: 25px;
}
.work_red {
  color: #ff6b08ed;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}
.my_vorc {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}
.my_date {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  /* margin-bottom: 14px; */
  color: #979494;
}
.tire {
  color: #000000;
  font-weight: 400;
}
.my_rez_tex {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-left: 17px;
}
.pro_education {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: 4px;
}
